* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,*::before,*::after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400 ;}

body {
	height: 100%;
	line-height: 1;
	font-family: 'Open Sans';
	color: black;
} 
  
/* 
.modal__transport {
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 2;
	width: 300px;
} */

.search {
  display: inline-flex;
  width: 100%;
  border-radius: 10px;
	padding: 0 0 0 10px;
	background-color: rgba(242, 242, 242, 1);
}

.search form {
	width: 100%;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  order: -1;
	margin-top: 10px;
}
.search-icon-2 {
	width: 20px;
	height: 20px;
	margin-right: 10px;
	order: 1;
	margin-top: 10px;
}
.search-field {
	min-height: 40px;
  width: 100%;
  border: 0; 
	background-color: rgba(242, 242, 242, 1);
}
.search-field::placeholder { 
	color: rgba(119, 119, 119, 1); 
	font-size: 13px; 
	font-weight: 600; 
}

.search-field:focus {
  outline: none;
}

